{% extends 'main/base.html' %}

{% block content %}

    <h1 class="home-header">Welcome Back, {{ user.get_full_name }} </h1>
    <div class="home-box">
        <h2 class="notification-header">Notifications</h2>

        <div class="message-box">
            {% if serviceMessages %}

                {% for serviceMessage in serviceMessages%}

                    <div class="message">
                        <span>Admin</span>
                        <p>{{serviceMessage|safe}}</p>
                    </div>
                    
                {% endfor %}

            {% else %}

                <div class="message">
                    {% comment %} <span>Admin</span> {% endcomment %}
                    <p>No Messages</p>
                </div>

            {% endif %}

        </div>
    </div>



{% endblock %}